<div class="ui card">
  {{#if user.picture.data}}
    <div class="image">
      <img src="/getPic/{{user.id}}" height="150" width="150" />
    </div>
    {{else}}
      <img class="ui medium centered image" src="images/user.png"/>
  {{/if}}
  <div class="content">
    <h3>{{#if loggedInUser}}
      {{user.firstName}} {{user.lastName}}</h3>
        {{else}}
  {{user.firstName}} {{user.lastName}} <button class="ui small submit button">Follow <a href="/follow/{{user.id}}"><i class="add user icon"></i></a></button><button class="ui small submit button">UnFollow <a href="/unfollow/{{user.id}}"><i class="red remove user icon"></i></a><br></button></h3>
      {{/if}}
  </div>
  <div class="extra content">
    {{#if user}}{{/if}}
    <i class="user icon"></i>{{ user.followers.length }} Follower(s) <br>
    <i class="user icon"></i>{{ user.following.length }} Following
  </div>
</div>