{{> mainmenu _id="settings"}}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui stacked fluid form segment">
        <form action="/settings" method="POST">
          <h3 class="ui header">Update Settings</h3>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input value="{{user.firstName}}" type="text" name="firstName">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input value="{{user.lastName}}" type="text" name="lastName">
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <input value="{{user.email}}" type="text" name="email">
          </div>
          <div class="field">
            <label>Password</label>
            <input value="password" type="password" name="password">
          </div>
          <button class="ui blue submit button">Save</button>
        </form>
        {{>formerror}}
      </div>
    </div>
    <aside class="ui five wide column">
      {{#if user.picture.data}}
        <div class="image">
          <img id="new" src="/getPic/{{user.id}}" height="250" width="300" />
        </div>
      {{else}}
        <img class="ui medium centered image" src="images/user.png"/>
      {{/if}}

      <form action="/profilePic" enctype="multipart/form-data" method="POST">
        <input type="file" name="picture" onchange="readURL(this);">
        <button class="ui blue submit button">Save</button>
      </form>
    </aside>
  </div>
</section>


<!-- https://stackoverflow.com/questions/12368910/html-display-image-after-selecting-filename -->
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      let reader = new FileReader();
      reader.onload = function (e) {
        $('#new')
            .attr('src', e.target.result)
            .width(300)
            .height(250);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>